* {
  font-family: "Lato";
}
body {
  background-color: whitesmoke;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
  font-weight: 200;
}
.horizental-line {
  margin: 20px 0 20px 0;
}
.center {
  margin-top: 50px;
  width: 50%;
  margin-left: 200px;
}
.sec1 {
  width: 50%;
  margin-top: 10px;
  border: 1px solid rgb(151, 150, 150);
  padding: 2px 10px 0px 10px;
  border-radius: 10px;
}
p {
  margin-top: -15px;
}
button {
  font-family: "Lato";
  margin: 5px;
}
